<div class="card" style="height:90vh">
    <div class="card-header bg-none fw-bold d-flex align-items-center">Random Text Chat Hub
        <span class="ms-auto">
            Status: {{CurrentStatus}}
        </span>
        <button (click)="refreshStranger()" class="ms-auto text-muted text-decoration-none" data-toggle="card-expand"><i
                class="fa fa-refresh"></i></button>
    </div>
    <div class="card-body bg-white bg-opacity-15" data-scrollbar="true" data-height="200px">
          <div class="row">
              <div class="col-5">
                  <video width="100%" #myVideo  autoplay ></video>
              </div>
              <div class="col-2"></div>
            <div class="col-5">
                <video width="100%" #remoteVideo autoplay></video>
            </div>
          </div>
    </div>


    <!-- card-arrow -->
    <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
    </div>
</div>